<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings/>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="AppSqlConnection" connectionString="server=(local);database=CrabWebApp;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SysAdmin">
    <system.web>
      <authorization>
        <allow roles="sysadmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Workflow">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WorkflowClient">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
      WebConfig配置文件详解
      http://www.cnblogs.com/kissdodog/archive/2013/04/16/3025315.html 
   -->
  <system.web>

    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <!-- ASP.NET 中的 authentication(验证)与authorization(授权) -->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" defaultUrl="Default.aspx" protection="All" timeout="2880"/>
    </authentication>
    <!-- http://www.cnblogs.com/yelaiju/p/3204298.html 
           authorization（授权）主要通过计算机信息来控制。
           “?”：匿名用户；
           “*”：所有用户；
      -->
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>    
    <membership defaultProvider="TenantMembershipProvider">
      <providers>
        <clear/>
        <add applicationName="/" requiresUniqueEmail="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" name="TenantMembershipProvider" type="Crab.Web.Security.WCFTenantMembershipProvider,Crab.Web.Security"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="TenantRoleProvider">
      <providers>
        <clear/>
        <add applicationName="/" name="TenantRoleProvider" type="Crab.Web.Security.WCFTenantRoleProvider,Crab.Web.Security"/>
      </providers>
    </roleManager>
    <profile defaultProvider="TenantSqlProfileProvider" enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AppSqlConnection" applicationName="Crab" name="TenantSqlProfileProvider" type="CrabApp.Providers.TenantSqlProfileProvider"/>
      </providers>
      <properties>
        <add name="FullName"/>
        <add name="Title"/>
        <add name="Sex"/>
        <add name="Birthday"/>
        <add name="Fax"/>
        <add name="Telephone"/>
        <add name="Mobile"/>
        <add name="MsnAccount"/>
        <add name="Address"/>
        <add name="ZipCode"/>
        <!--For UI -->
        <add name="Theme"/>
      </properties>
    </profile>
    <webParts>
      <personalization defaultProvider="TenantWebpartsProvider">
        <authorization>
          <allow roles="Administrators" verbs="enterSharedScope"/>
        </authorization>
        <providers>
          <clear/>
          <add connectionStringName="AppSqlConnection" name="TenantWebpartsProvider" applicationName="Crab" type="CrabApp.Providers.TenantSqlPersonalizationProvider"/>
        </providers>
      </personalization>
    </webParts>
    <sessionState mode="InProc" timeout="20"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
         -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
   <pages theme="Default" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"></pages>
      <!--Asp.NET AJAX support-->    
    <httpHandlers>
      <!--Asp.NET AJAX support-->
    </httpHandlers>
    <httpModules>
      <!--Asp.NET AJAX support-->
    </httpModules>
  </system.web>
  <!-- WCF configuration-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UnSecureConversationBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="16777216" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="1638400"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="headersMapping">
          <attachTenantHeader/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="attachTenantHeader" type="Crab.Web.Security.TenantHeaderBehavior, Crab.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:36165/Runtime/ProvisionService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" contract="Crab.Runtime.Contract.IProvision" name="IProvision"/>
      <endpoint address="http://localhost:36165/Runtime/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" contract="Crab.Runtime.Contract.IAuthentication" name="IAuthentication"/>
      <endpoint address="http://localhost:36165/Runtime/AuthorizationService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" contract="Crab.Runtime.Contract.IAuthorization" name="IAuthorization"/>
      <endpoint address="http://localhost:36165/Runtime/MetadataService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Runtime.Contract.IMetadataService" name="IMetadataService"/>
      <endpoint address="http://localhost:36165/Runtime/WorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Runtime.Contract.IWorkflow" name="IWorkflow"/>
      <endpoint address="http://localhost:36165/Business/BasicInformationService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Business.Contract.IBasicInformationService" name="IBasicInformationService"/>
      <endpoint address="http://localhost:36165/Business/ExportService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Business.Contract.IExportService" name="IExportService"/>
      <endpoint address="http://localhost:36165/Business/ExportProcessService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Business.Contract.IExportProcessService" name="IExportProcessService"/>
    </client>
  </system.serviceModel>
  <!--Asp.NET AJAX support-->
  <system.web.extensions>
    <scripting>
      <webServices/>
      <!-- 
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
</configuration>
