<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="WorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <!--Asp.NET AJAX support-->
  </configSections>
  <appSettings/>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="AppSqlConnection" connectionString="server=(local);database=CrabWebApp;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SysAdmin">
    <system.web>
      <authorization>
        <allow roles="sysadmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Workflow">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WorkflowClient">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Utilities.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--Asp.NET AJAX support-->
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="Microsoft.VisualC, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" defaultUrl="Default.aspx" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="TenantMembershipProvider">
      <providers>
        <clear/> 
        <add applicationName="/" requiresUniqueEmail="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" name="TenantMembershipProvider" type="Crab.Web.Security.WCFTenantMembershipProvider,Crab.Web.Security"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="TenantRoleProvider">
      <providers>
        <clear/>        
        <add applicationName="/" name="TenantRoleProvider" type="Crab.Web.Security.WCFTenantRoleProvider,Crab.Web.Security"/>       
      </providers>
    </roleManager> 
    <profile defaultProvider="TenantSqlProfileProvider" enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AppSqlConnection" applicationName="Crab" name="TenantSqlProfileProvider" type="CrabApp.Providers.TenantSqlProfileProvider"/>
      </providers>
      <properties>
        <add name="FullName"/>
        <add name="Title"/>
        <add name="Sex"/>
        <add name="Birthday"/>
        <add name="Fax"/>
        <add name="Telephone"/>
        <add name="Mobile"/>
        <add name="MsnAccount"/>
        <add name="Address"/>
        <add name="ZipCode"/>
        <!--For UI -->
        <add name="Theme"/>
      </properties>
    </profile>
    <webParts>
      <personalization defaultProvider="TenantWebpartsProvider">
        <authorization>
          <allow roles="Administrators" verbs="enterSharedScope"/>
        </authorization>
        <providers>
          <clear/>
          <add connectionStringName="AppSqlConnection" name="TenantWebpartsProvider" applicationName="Crab" type="CrabApp.Providers.TenantSqlPersonalizationProvider"/>
        </providers>
      </personalization>
    </webParts>
    <sessionState mode="InProc" timeout="20"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
         -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"/>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--Asp.NET AJAX support-->
    </pages>
    <httpHandlers>
      <!--Asp.NET AJAX support-->
    </httpHandlers>
    <httpModules>
      <!--Asp.NET AJAX support-->
    </httpModules>
  </system.web>
  <!-- WCF configuration-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UnSecureConversationBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="16777216" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="1638400"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="headersMapping">
          <attachTenantHeader/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="attachTenantHeader" type="Crab.Web.Security.TenantHeaderBehavior, Crab.Web.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:36165/Runtime/ProvisionService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" contract="Crab.Runtime.Contract.IProvision" name="IProvision"/>
      <endpoint address="http://localhost:36165/Runtime/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" contract="Crab.Runtime.Contract.IAuthentication" name="IAuthentication"/>
      <endpoint address="http://localhost:36165/Runtime/AuthorizationService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" contract="Crab.Runtime.Contract.IAuthorization" name="IAuthorization"/>
      <endpoint address="http://localhost:36165/Runtime/MetadataService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Runtime.Contract.IMetadataService" name="IMetadataService"/>
      <endpoint address="http://localhost:36165/Runtime/WorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Runtime.Contract.IWorkflow" name="IWorkflow"/>
      <endpoint address="http://localhost:36165/Business/BasicInformationService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Business.Contract.IBasicInformationService" name="IBasicInformationService"/>
      <endpoint address="http://localhost:36165/Business/ExportService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Business.Contract.IExportService" name="IExportService"/>
      <endpoint address="http://localhost:36165/Business/ExportProcessService.svc" binding="basicHttpBinding" bindingConfiguration="UnSecureConversationBinding" behaviorConfiguration="headersMapping" contract="Crab.Business.Contract.IExportProcessService" name="IExportProcessService"/>
    </client>
  </system.serviceModel>
  <!--Asp.NET AJAX support-->
  <system.web.extensions>
    <scripting>
      <webServices/>
      <!-- 
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
</configuration>